parameters:
  level: 5
  paths:
    - src
    - tests

  universalObjectCratesClasses:
    - FFI\CData

  ignoreErrors:
    - '#Call to an undefined method FFI::Tcl_#'
    - '#Call to an undefined method FFI::Tk_#'

